body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.moretext {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 7.6em;
    line-height: 1.8em;
}

#imgList .img-thumbnail {
    max-width: 200px;
    max-height: 100px;
    float: left;
}

#myModalImages  .modal-body{
    max-height: 400px;
    overflow-y: scroll;
}

.Listimages li{
    list-style-type:none;
    float:left;
    max-width:200px;
}